<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    ```

#### **2. Update your Root `build.gradle`**
We need to make sure the root isn't trying to "force" settings into the app folder. Replace your **root** `build.gradle` with this minimalist version:
```gradle
// Top-level build file
plugins {
    id 'com.android.application' version '8.2.0' apply false
    id 'org.jetbrains.kotlin.android' version '1.9.22' apply false
}
